/* Imports */
@import url("./CSS/fonts.css");
@import url("./CSS/containers/containers.css");
@import url("./CSS/components/buttons/buttons.css");
@import url("./CSS/colors.css");
@import url("./CSS/components/navbar/navbars.css");

:root {
    /* Thanks to https://flatuicolors.com/palette/defo for the colors! */
    --flat-red: #e74c3c;
    --flat-dark-red: #c0392b;
    --flat-orange: #e67e22;
    --flat-dark-orange: #d35400;
    --flat-yellow: #f1c40f;
    --flat-green: #2ecc71;
    --flat-dark-green: #27ae60;
    --flat-turquoise: #1abc9c;
    --flat-dark-turquoise: #16a085;
    --flat-blue: #3498db;
    --flat-dark-blue: #2980b9;
    --flat-purple: #9b59b6;
    --flat-dark-purple: #8e44ad;
    --flat-white: #fcfdfd;
    --flat-dark-white: #bdc3c7;
    --flat-cyan: #34495e;
    --flat-dark-cyan: #2c3e50;

    /* Background variables - These can be used for themes. You can override them if you want */
    --background-primary: #eee8e8;
    --background-secondary: #e2dcdc;
    --accent-color: var(--flat-blue);
    --primary-text-color: #000;
    --secondary-text-color: #2e2e2e;
}

h1, h2, h3, h4, h5, h6, a, span, div, ul, head, body, li, nav, header, footer, form, input, code, iframe, table, tr {
    padding: 0;
    margin: 0;
}

/** Sets the default properties*/
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    color: var(--primary-text-color);
}

h1 { font-size: 3.5rem; }
h2 { font-size: 3rem;}
h3 { font-size: 2.5rem; }
h4 { font-size: 2.25rem; }
h5 { font-size: 1.5rem; }
h6 { font-size: 1rem;}
