@import url("./flex.css");
.flex {
    display: flex;
}
.column {
    flex-direction: column;
}
.row {
    flex-direction: row;
}
.row-reverse {
    flex-direction: row-reverse;
}
.column-reverse {
    flex-direction: column-reverse;
}
.flex-center {
    align-items: center;
    justify-content: center;
    text-align: center;
}

@import url("./grid.css");
.grid {
    display: grid;
}
